.tey {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 30px;
}
.blacText {
  background-color: white;
}
.serv_div {
  margin-left: 5%;
  margin-right: 5%;
}
.service_div {
  margin-top: 120px;
  margin-bottom: 150px;
}
.serc_image {
  height: 450px;
}
.service_text {
  background-color: #443dfc;
  color: white;
  padding: 70px;
}
.pp {
}

.office_text{
    font-size: 25px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 15px;
}
.div_cl{
    background-color: #E5F1FF;
border-radius: 10px;
}
.Pro{
    margin-left: 15px;
    margin-bottom: 30px;
    font-weight: 400;
}
.deliver{
    font-size: 50px;
    margin-top: 80px;
    font-weight: 700;
}
.del_det{
    margin-top: 50px;
    margin-right: 70px;
    margin-left: 70px;
}
.about_div{
  max-width: 1200px;
  text-align: left;

  margin-top: 100px;
}
.exc{
  font-size: 55px;
  font-weight: 600;
}
.compant{
  font-size: 20px;
}
.blu{
  background-color: rgba(88, 169, 251, 0.136);
  padding-bottom: 100px;
}
.clenn{
  margin-top: 70px;
  margin-bottom: 70px;
  max-width: 1200px;
  border-radius: 30px;
}
.mission{
font-size: 25px;
font-weight: 600;
margin-bottom: 20px;
}
.mission_state{
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
}