@import url("https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Doodle+Shadow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.Ded_text {
  font-size: 40px;
  font-weight: 600;
}

.intro_text {
  padding-top: 100px;
  margin-left: 4%;
  margin-right: 4%;
}
.btn_more {
  width: 180px;
  background-color: #fed00e;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  padding-left: 4px;
  margin-top: 25px;
  padding-left: 8px;
  padding-right: 8px;
}
.div_land {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 200px;
}
.div_card {
  height: 400px;
  background-color: #e5f1ff;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.34);
}
.quad_img {
  height: 400px;
}
.head_card {
  font-size: 50px;
  font-weight: 800;
  color: blue;
  padding: 20px;
}
.head_icon {
  color: #fed00e;
}
.caro {
  padding-top: 150px;
  padding-bottom: 150px;
}
.service {
  margin-top: 150px;
  padding-top: 100px;
  padding-left: 4%;
  padding-right: 4%;
  background-color: #1e1e1e;
  padding-bottom: 100px;
}

.serv_text {
  font-size: 30px;
  font-weight: 600;
  color: white;
}
.serv_div {
  background-color: white;
  border-radius: 8px;
  padding: 50px;
}
.linez {
  border: 1px solid black;
}
.price {
  padding-top: 130px;
  padding-bottom: 130px;
}

.fopo {
  font-size: 30px;
  font-weight: 600;
  margin-left: 40px;
}
.icon_he {
  height: 50px;
  width: 50px;
}
.subt {
  color: black;
}
.hh{
  font-size: 570px;
}
.serc_img{
    height: 40px;
}
