.wind_head{
    font-size: 35px;
    font-weight: 500;
    margin-top: 80px;
}
.window_img{
    max-width: 900px;
    margin-top: 40px;
    border-radius: 10px;
}
.sub_text_wind{
    color: gray;
    text-align: left;
}
.wind_sub_hesd{
    font-weight: 600;
    margin-top: 50px;
    font-size: 30px;
}
.window_div{
    max-width: 900px;
}
.bold_div{
    font-weight: 500;
}
.winnyy{
    height: 460px;
    width: 300px;
    margin-left: 50px;
}